ul.document-list {
    list-style: none;
    padding-left: 0;
}
li.document-item {
    display: inline-block;
    position: relative;
    width: 20em;
    margin: 0 5px 5px 0;
}
div.documents-header {
    padding: 15px;
    font-size: large;
    font-weight: bold;
}
img.document-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    margin-top: -10px;
}
a.document-file {
    /*color: #00439f;*/
    color: #157efb;
    display: block;
    font-size: small;
    /*vertical-align: middle;*/
    text-align: center;
    margin-left: 25px;
}
a.document-file:visited {
    color: #00439f;
}
