div.title {
    overflow: hidden;
    position: relative;
    margin: 0 10%;
}
h1.org-name {
    /*border: 1px solid #ccc;*/
    text-align: center;
    float: left;
    color: #e31e2f;
    width: 500px;
    margin-top: 0px;
}
img.symb {
    float: right;
    width: 181px;
    height: 182px;
}
div.title {
    overflow: hidden;
    border: 1px solid #ccc;
    position: relative;
}
nav a.current {
    background-color: #fff;
    color: #0397d7;
}
div.contacts {
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: x-small;
    font-style: italic;
}
ul.document-list {
    list-style: none;
}
li.document-item {
}
div.documents-header {
    padding: 15px;
    font-size: large;
    font-weight: bold;
}
img.document-icon {
    float: left;
    width: 10px;
    height: 10px;
    margin: 5px;
}
a.document-file {
    font-size: small;
}
div.social-block {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
div.signer {
    padding-left: 8px;
    display: block;
    color: #f2f2f2;
    background-color: #069;
    font-size: x-small;
}
