ul.projects-list {
    list-style:none;
    padding-left: 0;
}
ul.projects-item {
    list-style:none;
}
div.project-title {
    font-weight: bold;
    padding: 0 10px;
}
div.project-date {
    font-size: small;
    font-style: italic;
}
div.project-description {
}
