ul.projects-list {
    list-style: none;
    padding-left: 0;
}
li.projects-item {
    /*list-style: none;*/
    border-top: 1px solid #ccc;
    margin: 1.5em 0;
    /*overflow: hidden;*/
}
div.project-title {
    font-weight: bold;
    padding: 0 10px;
    margin-top: 0.5em;
    text-align: center;
}
div.project-date {
    font-size: small;
    font-style: italic;
    margin: 0.5em;
}
div.project-crop {
    width: 240px;
    max-height: 240px;
    float: left;
    margin: 0.5em;
    overflow: hidden;
    z-index: -1;
}
img.project-image {
    /*max-width: 35%;
    max-height: 10em;*/
    width: 240px;
}
img.project-image-left {
    max-width: 35%;
    max-height: 10em;
    float: left;
    margin: 0.5em;
    z-index: -1;
}
img.project-image-right {
    max-width: 35%;
    max-height: 10em;
    float: right;
    margin: 0.5em;
    z-index: -1;
}
a.project-link {
    text-decoration: none;
    white-space: nowrap;
}
a.project-link:link,
a.project-link:visited { color: #265C83; }
a.project-link:hover   { color: #7FDBFF; }
a.project-link:active  { color: #007BE6; }

div.project-description {
}
