{% extends "index.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
{% endblock %}
{% block content %}
    <div class="news-block">
        <ul class="news-list">
            {% for item in latest_news_list %}
                <li class="news-item">
                    <div class="news-pre">
                        <div class="news-date">
                            {{ item.date }}
                        </div>
                        <div class="news-title">
                            <a class="news-title" href="news/#{{ item.id }}" >{{ item.title }}</a>
                        </div>
                        <img class="news-img" src="{{ item.title_image_small.url }}"/>
                        <div class="news-text">
                            {{ item.description|safe }}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
