{% extends "index.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'images/style.css' %}" />
{% endblock %}
{% block content %}
    <h2>Галерея</h2>
    <div class="image-block">
        <ul class="image-list">
            {% for image in image_page %}
                    <li class="image-item">
                        <div class="image-pre">
                            <a class="image-link" title="gall" href="{{ image.image.url }}" rel="prettyPhoto[pp_gal]"><img class="image" src="{{ image.image.url }}" alt="{{ image.title }}"></a>
                        </div>
                    </li>
            {% endfor %}
        </ul>
    </div>
    <div class="pagination">
        <div class="step-links">
            <span class="current">
                Page {{ image_page.number }} of {{ image_page.paginator.num_pages }}
            </span>
            {% if image_page.has_previous %}
                <a style="float:left;" href="?page={{ image_page.previous_page_number }}">previous</a>
            {% endif %}
            {% if image_page.has_next %}
                <a style="float:right;" href="?page={{ image_page.next_page_number }}">next</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
