{% extends "index.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'images/style.css' %}" />
{% endblock %}
{% block content %}
    <h2>Photo</h2>
    <div class="image-block">
        <ul class="image-list">
            {% for image in images_list %}
                <li class="image-item">
                    <div class="image-pre">
                        <a class="fancybox" href="{{ image.image.url }}" rel="gallery"><img width="120px" src="{{ image.image.url }}"></a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
