{% extends "index.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'strategy/style.css' %}" />
{% endblock %}
{% block content %}
    <h2 style="text-align:center;">Задачи</h2>
    {{ paragraphs.0.text|safe }}
    </p>
    <ul class="strategy">
    <h3>Основные виды деятельности организации</h3>
        {% for paragraph in paragraphs|slice:"1:" %}
            <li class="strategy-item">
                {{ paragraph.text|safe }};
            </li>
        {% endfor %}
    </p>
{% endblock %}
