{% extends "index.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/style.css' %}" />
{% endblock %}
{% block content %}
        <ul class="news-list">
            {% for item in latest_news_list reversed %}
                <li id= "{{ item.id }}" class="news-item">
                        <div class="news-date">
                            {{ item.date }}
                        </div>
                        <div class="news-title">
                            {{ item.title }}
                        </div>
                        {% if item.title_image.url|length > 0 %}
                            <img class="news-img" src="{{ item.title_image.url }}"/>
                        {% endif %}
                        <div class="news-text">
                            {{ item.description|safe }}
                        </div>
                </li>
            {% endfor %}
        </ul>
{% endblock %}
