div.contacts {
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: x-small;
    font-style: italic;
}
div.social-block {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
li.strategy-item {
    margin: 0.5em 0;
}
nav a.current {
    background-color: #fff;
    color: #0397d7;
}
