div.title {
    overflow: hidden;
    position: relative;
    margin: 0 10%;
}
img.symb {
    float: right;
    width: 181px;
    height: 182px;
}
div.contacts {
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: x-small;
    font-style: italic;
}
div.social-block {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
div.content {
    padding: 8px 15px;
    display: block;
    font-weight: bold;
    /*background-color: #f2f2f2;
    color: #069;*/
    color: #f2f2f2;
    background-color: #069;
    text-align: center;
    /*width: 130px;*/
    text-decoration: none;
    text-transform: uppercase;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
ul.strategy {
    list-style: none;
    margin: 0 15%;
    padding: 0;
}
li.paragraph {
}
nav a.current {
    background-color: #fff;
    color: #0397d7;
}
