{% extends "index.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'contacts/style.css' %}" />
{% endblock %}
{% block content %}
    <ul class="contact-list">
        <div class="contact-title">Offices</div>
        {% for office in office_list %}
            <li>
                <div class="contact-name">
                    {{ office.description }}</br>
                    <div style="margin: 0px 10px"><b>{{ office.address }}</b></br></div>
                </div>
                <div class="contact-item">
                    <ul class="contact-sub-list">
                        {% for phone in office.phone_set.all %}
                            <i><li>phone{{ forloop.counter }}: {{ phone }}</li></i>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
        </br>
        <div class="contact-title">Contacts</div>
        {% for person in contact_list %}
            <li>
                <div class="contact-name">
                    <b>{{ person.position }}</b></br>
                    <div style="margin: 0px 10px">{{ person.last_name }} {{ person.first_name }} {{person.father_name }}</br></div>
                </div>
                <div class="contact-item">
                    <ul class="contact-sub-list">
                        {% for email in person.email_set.all %}
                            <i><li>email{{ forloop.counter }}: {{ email }}</li></i>
                        {% endfor %}
                    </ul>
                </div>
                <div class="contact-item">
                    <ul class="contact-sub-list">
                        {% for phone in person.phone_set.all %}
                            <i><li>phone{{ forloop.counter }}: {{ phone }}</li></i>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
