img.symb {
    float: right;
    width: 181px;
    height: 182px;
}
div.contacts {
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: x-small;
    font-style: italic;
}
div.social-block {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
div.content {
    padding: 8px 15px;
    display: block;
    font-weight: bold;
    /*background-color: #f2f2f2;
    color: #069;*/
    color: #f2f2f2;
    background-color: #069;
    text-align: center;
    /*width: 130px;*/
    text-decoration: none;
    text-transform: uppercase;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
img.news-img {
    float: left;
    width: 92px;
    height: 92px;
    margin-right: 5px;
}
div.image-block {
    border: 1px solid #ccc;
    margin: 10px 0px;
    padding: 0px;
}
ul.image-list {
    text-align: center;
    /*border: 1px solid #ccc;*/
    list-style-type: none;
    overflow: hidden;
    padding: 5px;
    margin: 0px;
}
li.image-item {
    display: inline-block;
    border: 1px solid #ccc;
    /*margin: 5px;*/
    padding: 5px;
    vertical-align: top;
}
div.image-pre {
    overflow: hidden;
    height: 90px;
}
nav a.current {
    background-color: #fff;
    color: #0397d7;
}
