img.symb {
    float: right;
    width: 181px;
    height: 182px;
}
div.social-block {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
h1.advisor-title {
    border: 1px solid #ccc;
    text-align: left;
    margin: 5px;
    padding:  5px 5px 5px 0px;
    /*font-weight: bold;*/
    /*font-size: x-large;*/
}
ul.advisor-list {
    border: 1px solid #ccc;
    list-style-type: none;
    overflow: hidden;
    margin: 5px 15% 5px 15%;
    padding-left: 0px;
}
div.advisor-item {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    padding-left: 15px;
}
img.advisor-photo {
    float: left;
    margin: 5px;
    padding: 0px;
}
div.advisor-name {
    font-weight: bold;
    font-size: large;
    margin: 0px;
    padding: 0px;
}
