div.contacts {
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: x-small;
    font-style: italic;
}
ul.contact-list {
    list-style-type: none;
    overflow: hidden;
    padding-left: 0px;
    margin: 0.25em 0 1em 1.5em;
}
div.contact-title {
    text-align: left;
    padding-left: 0px;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 5px;
}
div.contact-name {
    text-align: left;
    /*font-weight: bold;*/
    margin: 0 1em;
}
div.contact-item {
    text-align: left;
    margin: 0px 20px;
}
ul.contact-sub-list {
    list-style-type: none;
    overflow: hidden;
    /*padding-left: 0px;*/
    font-size: small;
}
