{% extends "index.html" %}
{% load l10n %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'projects/style.css' %}" />
{% endblock %}
{% block content %}
    <div class="project-title">{{ project.title }}</div>
    {% localize on %}
    <div class="project-date">
        окончен: {{ project.date_finished|default_if_none:"--/--/--" }}</br>
        начат: {{ project.date_started }}
    </div>
    {% endlocalize %}
    {% for data, img in zip %}
        {{ data|safe|linebreaks }}
        {% if img %}
            <img class="{% cycle 'project-image-left' 'project-image-right' %}" src="{{ img.image.url }}" alt="{{ img.image.title }}"/>
        {% endif %}
    {% endfor %}
    <!--img class="project-image" src="{{ project.images.all.0.image.url }}"/-->
    <!--{{ project.description|safe|linebreaks }}-->
    <a class="project-link" href="{% url 'projects' %}"><br/><< к списку проектов <<</a>
{% endblock %}
