{% extends "index.html" %}
{% load l10n %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'projects/style.css' %}" />
{% endblock %}
{% block content %}
<ul class="projects-list">
    {% for project in projects %}
        <li class="projects-item">
            <div class="project-title">{{ project.title }}</div>
            {% localize on %}
            <div class="project-date">
                окончен: {{ project.date_finished|default_if_none:"--/--/--" }}</br>
                начат: {{ project.date_started }}
            </div>
            {% endlocalize %}
            {% if project.title_image %}
                <div class="project-crop">
                    <img class="project-image" src="{{ project.title_image.image.url }}" alt="{{ project.title_image.image.title }}"/>
                </div>
            {% endif %}
            {{ project.description|truncatechars:600 }}
            <a class="project-link" href="{% url 'project-details' pk=project.id %}">>> читать далее >></a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
