<!DOCTYPE html>
<html>
<head>
    <title>Достойный Выбор</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static '/static/css/style.css' %}" />
    {% block css %}{% endblock %}
    <!-- add jQuery library -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- add fancyBox -->
    <link rel="stylesheet" href="/static/js/jquery.fancybox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/js/jquery.fancybox.pack.js"></script>
    <!-- optional helpers -->
    <link rel="stylesheet" href="/static/js/helpers/jquery.fancybox-buttons.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/js/helpers/jquery.fancybox-buttons.js"></script>
    <script type="text/javascript" src="/static/js/helpers/jquery.fancybox-media.js"></script>
    <link rel="stylesheet" href="/static/js/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/js/helpers/jquery.fancybox-thumbs.js"></script>
    <!-- -->
    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox").fancybox({
                openEffect: 'none',
                closeEffect: 'none'
            });
            $(".utube").fancybox({
                maxWidth: 800,
                maxHeight: 600,
                fitToView: false,
                width: '70%',
                height: '70%',
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none'
            });
            var counter = 0,
                $items = $('.slideshow figure'),
                numItems = $items.length;
            var showCurrent = function() {
                var itemToShow = Math.abs(counter%numItems);
                $items.removeClass('show');
                $items.eq(itemToShow).addClass('show');
            };
            $('.next').on('click', function() {
                counter++;
                showCurrent();
            });
            $('.prev').on('click', function() {
                counter--;
                showCurrent();
            });
        });
    </script>
</head>
<body style="margin:0;">
    <div class="title">
        <!--div style="font-size: small; color: #0397d7; margin-top: 10px;">Ассоциация</br>участников программ</br>опережающего развития</br>и формирования интеллектуально-кадрового развития</div-->
        <img class="symb" src="/media/logo.jpg">
        <div class="org-name">ДОСТОЙНЫЙ <br>ВЫБОР</div>
    </div>
    <nav><!--Removed </li> to delete gaps between nav items-->
        <ul style="margin-left:15%;">
            <li><a class="home" href="{% url 'home:index' %}">News</a>
            <li><a {% if nav_active_button == "About" %}class="current"{% endif %} href="">About</a>
                <ul>
                    <li><a href="{% url 'advisors:index' %}">Advisors</a></li>
                    <li><a href="{% url 'strategy:index' %}">Strategy</a></li>
                    <li><a href="{% url 'partners:index' %}">Partners</a></li>
                </ul>
            
            <li><a {% if nav_active_button == "Projects" %}class="current"{% endif %} href="{% url 'projects:index' %}">Projects</a>
            <li><a {% if nav_active_button == "Media" %}class="current"{% endif %} href="">Media</a>
                <ul>
                    <li><a href="{% url 'video:index' %}">Video</a></li>
                    <li><a href="{% url 'images:index' %}">Photo</a></li>
                </ul>
            <li><a {% if nav_active_button == "Documents" %}class="current"{% endif %} href="{% url 'documents:index' %}">Documents</a>
            <li><a {% if nav_active_button == "Contacts" %}class="current"{% endif %} href="{% url 'contacts:index' %}">Contacts</a>
        </ul>
        <ul class="social-list">
            <li class="social-item"><a class="social-link" href=""><img class="social-icon" src="{% static '/static/social-icons/facebook4.svg' %}"></a>
            <li class="social-item"><a class="social-link" href=""><img class="social-icon" src="{% static '/static/social-icons/youtube3.svg' %}"></a>
            <li class="social-item"><a class="social-link" href=""><img class="social-icon" src="{% static '/static/social-icons/vk2.svg' %}"></a>
            <li class="social-item"><a class="social-link" href=""><img class="social-icon" src="{% static '/static/social-icons/insta.svg' %}"></a>
        </ul>
    </nav>

    <div style="background-color:#e5e4e2;">
    <div class="slideshow">
       {% for slide in slide_list %}
           <figure class={% if forloop.first %}"show"{% else %}""{% endif %}>
               <img style="width: 100%;" src="{{ slide.image.url }}" />
               <figcaption>{{ slide.caption|safe }}</figcaption>
           </figure>
       {% endfor %}
       <span class="prev">&laquo;</span>
       <span class="next">&raquo;</span>
    </div>
    </div>
    <div class="content2">
        {% block content %}{% endblock %}
        </br>
        </br>
    </div>
    <div class="signer">
        ©2016 Достойный Выбор.
    </div>
</body>
