<!DOCTYPE html>
<html>
<head>
    <title>Достойный Выбор</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static '/static/css/style.css' %}" />
    {% block css %}{% endblock %}
    <!-- add jQuery library -->
    <!--script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script-->
    <!--prettyPhoto-->
    <script src="/static/js/prettyPhoto/jquery-1.6.1.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/css/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
    <script src="/static/js/prettyPhoto/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            $("a[rel^='prettyPhoto']").prettyPhoto({
                social_tools: false,
            });
        });
    </script>
</head>
<body style="margin:0;">
    <div class="title">
        <!--div style="font-size: small; color: #0397d7; margin-top: 10px;">Ассоциация</br>участников программ</br>опережающего развития</br>и формирования интеллектуально-кадрового развития</div-->
        <img class="symb" src="{% static '/static/logo.jpg' %}">
        <div class="org-name">ДОСТОЙНЫЙ <br>ВЫБОР</div>
    </div>
    <div class="slideshow">
       {% for slide in slide_list %}
           <figure class={% if forloop.first %}"show"{% else %}""{% endif %}>
               <img style="width: 100%;" src="{{ slide.image.url }}" />
               <figcaption>{{ slide.caption|safe }}</figcaption>
           </figure>
       {% endfor %}
       <span class="prev">&laquo;</span>
       <span class="next">&raquo;</span>
    </div>
    <nav><!--Removed </li> to delete gaps between nav items-->
        <ul>
            <li><a class="home" href="{% url 'home' %}">Новости</a>
            <li><a {% if nav_active_button == "About" %}class="current"{% endif %} href="">О нас</a>
                <ul>
                    <li><a href="{% url 'about_advisors' %}">Экспертный совет</a></li>
                    <li><a href="{% url 'about_direction' %}">Руководство</a></li>
                    <li><a href="{% url 'about_partners' %}">Партнеры</a></li>
                    <li><a href="{% url 'strategy' %}">Задачи</a></li>
                </ul>
            
            <li><a {% if nav_active_button == "Projects" %}class="current"{% endif %} href="{% url 'projects' %}">Проекты</a>
            <li><a {% if nav_active_button == "Media" %}class="current"{% endif %} href="">Медиа</a>
                <ul>
                    <li><a href="{% url 'video' %}">Видео</a></li>
                    <li><a href="{% url 'images' %}">Фото</a></li>
                </ul>
            <li><a {% if nav_active_button == "Documents" %}class="current"{% endif %} href="{% url 'documents' %}">Документы</a>
            <li><a {% if nav_active_button == "Contacts" %}class="current"{% endif %} href="{% url 'contacts' %}">Контакты</a>
        </ul>
        <ul class="social-list">
            <li class="social-item"><a class="social-link" href=""><img class="social-icon" src="{% static '/static/social-icons/facebook4.svg' %}"></a>
            <li class="social-item"><a class="social-link" href=""><img class="social-icon" src="{% static '/static/social-icons/youtube3.svg' %}"></a>
            <li class="social-item"><a class="social-link" href=""><img class="social-icon" src="{% static '/static/social-icons/vk2.svg' %}"></a>
            <li class="social-item"><a class="social-link" href=""><img class="social-icon" src="{% static '/static/social-icons/insta.svg' %}"></a>
        </ul>
    </nav>

    <div class="content2">
        {% block content %}{% endblock %}
        </br>
        </br>
    </div>
    <div class="signer">
        ©2016 Достойный Выбор.
    </div>
</body>
