div.contacts {
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: x-small;
    font-style: italic;
}
div.social-block {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
div.content {
    padding: 8px 15px;
    display: block;
    font-weight: bold;
    /*background-color: #f2f2f2;
    color: #069;*/
    color: #f2f2f2;
    background-color: #069;
    text-align: center;
    /*width: 130px;*/
    text-decoration: none;
    text-transform: uppercase;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
div.news-pre {
    height: 100%;
    margin: 5px;
    position: relative;
}
div.news-date {
    color: grey;
    font-size: x-small;
    text-align: left;
}
a.news-title {
    display: block;
    text-align: left;
    margin: 5px;
    margin-left: 1px;
    margin-top: 0px;
    text-decoration: none;
    font-size: small;
}
a.news-title:visited {
    color: #069;
}
img.news-img {
    float: left;
    width: 92px;
    height: 92px;
    margin-right: 5px;
}
div.news-text {
    text-align: left;
    font-size: small;
    word-wrap: break-word;
    overflow: hidden;
}
div.news-block {
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 0px;
}
ul.news-list {
    text-align: center;
    /*border: 1px solid #ccc;*/
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
li.news-item {
    /*float: left;*/
    display: inline-block;
    border: 1px solid #ccc;
    width: 225px;
    height: 150px;
    padding: 5px;
    margin: 5px;
    vertical-align: top;
}
/*div.signer {
    padding-left: 8px;
    display: block;
    color: #f2f2f2;
    background-color: #069;
    font-size: x-small;
}*/
