{% extends "index.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'documents/style.css' %}" />
{% endblock %}
{%block content %}
    <!--<div class="documents-header">Documents</div>-->
    <!--ul class="document-list">
        {% for document in document_list %}
            <li class="document-item">
                    <img class="document-icon" src="{% static 'folder-download.svg' %}"/>
                    <a class="document-file" href="{{ document.file.url }}">{{ document.description }}</a>
            </li>
        {% endfor %}
    </ul-->
    <table>
        {% for document, created_time in document_list %}
        {% if not forloop.counter|divisibleby:"2" %}
        <tr>
        {% endif %}
            <td>
                <img class="document-icon" src="{% static 'folder-download.svg' %}"/>
            </td>
            <td>
                <div style="width:100%;margin-top:1em;">
                    <a class="document-file" href="{{ document.file.url }}">{{ document.description }}</a>
                    <p class="document-created">добавлен: {{ created_time|date:"d M Y" }}</p>
                </div>
            </td>
        {% if forloop.counter|divisibleby:"2" %}
        </tr>
        {% else %}
            {% if forloop.last %}
        <td>
        </td>
        <td>
        </td>
        </tr>
            {% endif %}
        {% endif %}
        {% endfor %}
    </table>
{% endblock %}
